*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: $primary-color;
  color: $white;
  font-family: $font-primary;
  line-height: 1.6;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $accent-color;
  text-decoration: none;
  @include transition();
  
 
}
.desktop{
  @include respond-to(lg){
    display: none !important;
  }
}
ul, ol {
  list-style: none;
}

button, input, textarea, select {
  font: inherit;
}