h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  // margin-bottom: $spacing-md;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-h1;
  font-weight: 800;
  @include respond-to(md) {
    font-size: $font-size-h1-md;
  }
  @include respond-to(sm) {
    font-size: $font-size-h1-sm;
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: 700;
  @include respond-to(md) {
    font-size: $font-size-h2-md;
  }
  @include respond-to(sm) {
    font-size: $font-size-h2-sm;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: 500;
  @include respond-to(md) {
    font-size: $font-size-h3-md;
  }
  @include respond-to(sm) {
    font-size: $font-size-h3-sm;
  }
}

h4 {
  font-size: $font-size-h4;
  font-weight: 400;
  @include respond-to(md) {
    font-size: $font-size-h4-md;
  }
  @include respond-to(sm) {
    font-size: $font-size-h4-sm;
  }
}

p {
  // margin-bottom: $spacing-md;
  font-weight: 400;
  line-height: 1.8;
  @include respond-to(md) {
    font-size: $font-size-base-md;
  }
  @include respond-to(sm) {
    font-size: $font-size-base-sm;
  }
}
