.hero{
    position: relative;
    min-height: 100vh;
    padding: 80px auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    @include respond-to(xl) {
        padding:  24px;
    }
    @include respond-to(md) {
       padding: 450px 0 10vh 0;
       justify-content: end;
    }
    .hero-text{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 70%;
        height: 100%;
        z-index: 2;
        @include respond-to(md) {
            width: 100%;
            padding: 10px;
            backdrop-filter: blur(10px);
        }
        .hero-title{
          white-space: nowrap;

        }
    }
    .hero-title-span{
        color: $primary-color;
    }
    .hero-desc{
        color: $accent-dark;
        width: 50%;
    }
    .me-container{
        position: absolute;
        bottom: 50%;
        transform: translateY(55%);
        right: -100px;
        width: 700px;
        @include respond-to(xl) {
            width: 500px;
        }
        
        @include respond-to(md) {
            top: 50px;
            bottom: 0;
            right: 50%;
            height: fit-content;
            transform: translateX(50%) translateY(0);
        }
    }
    .me-img{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        height: 100%;
        object-fit:fill;
        z-index: -1;

        mask-image: radial-gradient(black 30% 10% , transparent 71%);
    }
    .me-container {
        --start-color: rgba(108, 5, 5, 0.253);
        --end-color: rgba(0, 0, 0, 0.2);
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(120% 140%,var(--start-color)  10% , var(--end-color) 40%);
          animation: animateGradient 4s infinite alternate;
        }
      }
      .hero-btn{
        padding: 8px 10px;
        border-radius: 0.5rem;
        background: $primary-darkest;
        color: $accent-color;
        transition: all 0.3s ease-in-out;
        &:hover{
            background: $primary-dark;
        }
      }
      
}
@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(108, 5, 5, 0.253);
  }
  
  @property --end-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(0, 0, 0, 0.2);
  }
  
  @keyframes animateGradient {
    0% {
      --start-color: rgba(108, 5, 5, 0.253);
      --end-color: rgba(0, 0, 0, 0.2);
    }
    100% {
      --start-color: rgba(255, 50, 50, 0.4);
      --end-color: rgba(0, 0, 0, 0.6);
    }
  }
  