header {
  position: relative;
  .logo-container{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
  
  .logo-img{
    width: 200px;
    margin-top: -40px;
    height: auto;
    @include respond-to(md){
      width: 150px;
      margin-top: -20px;
    }
    @include respond-to(sm){
      width: 100px;
      margin-top: -10px;
    }
  }
  figcaption{
    font-family: milk;
    letter-spacing: 6px;
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
  }
  nav{
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 100;
    @include flex-center(row);
    @include respond-to(md){
      top: 30px;
      right: 20px;
    }
    @include respond-to(sm){
      top: 20px;
      right: 10px;
    }
  }

  .nav-list{
    display: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    @include flex-center(column);
    background-color: $accent-light;
    gap: $spacing-xl;
    font-size: $font-size-h2;
    font-weight: 600;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    @include respond-to(md){
      font-size: $font-size-h3;
    }
    

    li{
      a{
        color: $secondary-color;
        cursor: pointer;
      }
    }
    
  }
  .nav-list.show{
    pointer-events: all;
    opacity: 1;
  }

  .nav-icon {
    width: 60px;
    height: 65px;
    @include flex-center(column);
    border-radius: 50%;
    background-color: $primary-color;
    z-index: 101;
    cursor: pointer;
    gap: 5px;
    position: relative;
    @include respond-to(md){
      width: 50px;
      height: 50px;
    }
    @include respond-to(sm){
      width: 40px;
      height: 40px;
    }

    // Emitting circles animation
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba($primary-color, 0.3);
      animation: emit-circles 2s infinite;
    }

    &::after {
      animation-delay: 1s;
    }

    @keyframes emit-circles {
      0% {
        transform: scale(1);
        opacity: 0.8;
      }
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }

    .bar {
      z-index: 101;
      width: 60%;
      height: 4px;
      border-radius: 4px;
      background: $accent-color;
      transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
  .nav-icon.close{
    &::after,&::before{
      animation: none;
      display: none;
    }
    
    background-color: transparent;
    .bar{
      background-color: $secondary-color;
    }
    .bar:nth-child(1){
      transform: rotate(45deg) translate(5px, 5px) scale(2);
    }
    .bar:nth-child(2){
      opacity: 0;
    }
    .bar:nth-child(3){
      transform: rotate(-45deg) translate(5px, -5px) scale(2);
    }
  }
  
}